<%= stylesheet_link_tag "main.css" %>

<section>
  <%# Este tag nos servira para poder aplicar el video de fondo de la primera diapositiva%>
  <%# su id de html es videop%>
  <%= video_tag "intro.mp4", :autobuffer => true, :controls => false, :id => 'videop',
   :autoplay => 'autoplay', :loop => 'loop'%>
</section>

<section></section>
<section></section>
<section></section>
<section></section>
