/**********************************************
          Configuracion General

**********************************************/
body{
  background-color: white;
}

section{
  /* Con esto configuramos que las diapositivas ocupen toda la pantalla*/
  height: 99vh;
}

/**********************************************
          Primera Diapositiva

**********************************************/
#videop{
  right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url(polina.jpg) no-repeat;
  background-size: cover;
}
